#!/bin/bash

set -eufo pipefail

# Update Homebrew first
Echo ""
Echo "--Updating Homebrew--"
brew update
Echo ""
Echo "--Adding azure/bicep tap--"
brew tap azure/bicep
Echo "--Adding jandedobbeleer/oh-my-posh tap--"
brew tap jandedobbeleer/oh-my-posh
{{ if .work -}}
Echo "--Adding homebrew/cask-versions tap--"
brew tap homebrew/cask-versions
{{ end -}}

# Install This anytime
{{ $brews := list
     "azure-cli"
     "bicep"
     "bitwarden-cli"
     "chezmoi"
     "coreutils"
     "git"
     "mas"
     "oh-my-posh"
     "spaceship"
     "terraform"
     "zsh-autosuggestions"
     "zsh-syntax-highlighting"
     "zsh-you-should-use"
     "zsh"
      -}}
{{ $casks := list
     "adobe-acrobat-reader"
     "appcleaner"
     "bitwarden"
     "cheatsheet"
     "docker"
     "drawio"
     "git-credential-manager"
     "iterm2"
     "microsoft-edge"
     "obsidian"
     "postman"
     "powershell"
     "qmk-toolbox"
     "raycast"
     "signal"
     "snagit"
     "tor-browser"
     "tower"
     "unclack"
     "unnaturalscrollwheels"
     "via"
     "visual-studio-code"
      -}}

# Install This on Personal
{{ if .personal -}}
{{   $casks = concat $casks (list
       "microsoft-auto-update"
       "microsoft-excel"
       "microsoft-powerpoint"
       "microsoft-word"
       "qobuz"
       "signal"
       "whatsapp"
       ) -}}
{{ end -}}

# Install This on Work
{{ if .work -}}
{{   $casks = concat $casks (list
       "azure-data-studio"
       "visual-studio-code-insiders"
        ) -}}
{{ end -}}

Echo ""
Echo "--Installing Brew Bundle--"
brew bundle --force cleanup --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

# Install Apps from Mac App Store using mas CLI
Echo ""
Echo "--Installing Mac OS app store apps--"
mas install 1268962404
