#!/usr/bin/env bash

# CHECK THE MACOS-DEFAULTS REPOSITORY FOR MORE INFORMATION ON THE DEFAULTS USED IN THIS SCRIPT.
# https://macos-defaults.com/

# Mac OS X configuration
# Heavily customized from Jeff Geerling's Dotfiles. Original notes below:
# ==============================================================
#
# This configuration applies to the latest version of macOS (currently 11.3),
# and sets up preferences and configurations for all the built-in services and
# apps. Third-party app config should be done elsewhere.
#
# If you want to figure out what default needs changing, do the following:
#
#   1. `cd /tmp`
#   2. Store current defaults in file: `defaults read > before`
#   3. Make a change to your system.
#   4. Store new defaults in file: `defaults read > after`
#   5. Diff the files: `diff before after`

{{ if eq .chezmoi.os "darwin" }}

echo
echo -e "\033[0;36m---------------------------------\033[0m"
echo -e "\033[0;36mSTARTING CONFIGURING OSX SETTINGS\033[0m"
echo -e "\033[0;36m---------------------------------\033[0m"
echo

# info "If you see errors you may safely ignore them."

###############################################################################
# General UI/UX                                                               #
###############################################################################

###############################################################################
# Finder                                                                      #
###############################################################################

# Empty bin items after 30 days
defaults write com.apple.finder "FXRemoveOldTrashItems" -bool "true"

###############################################################################
# Energy Saving                                                               #
###############################################################################

###############################################################################
# Trackpad, mouse, keyboard, Bluetooth accessories, and input                 #
###############################################################################

###############################################################################
# Dock, Dashboard, and hot corners                                            #
###############################################################################

###############################################################################
# Terminal & iTerm 2                                                          #
###############################################################################

echo
echo -e "\033[0;36m------------------------------------\033[0m"
echo -e "\033[0;36mOSX SETTINGS CONFIGURATION COMPLETED\033[0m"
echo -e "\033[0;36m------------------------------------\033[0m"
echo

{{ end }}