{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

# Display start message in cyan
echo
echo -e "\033[0;36mUpdating Hombrew core app\033[0m"
echo -e "\033[0;36m-------------------------\033[0m"
echo

# https://docs.brew.sh/Manpage#environment
export HOMEBREW_NO_INSTALL_UPGRADE=1
export HOMEBREW_CASK_OPTS="--appdir=${HOME}/Applications --fontdir=/Library/Fonts --no-quarantine"
export HOMEBREW_NO_INSTALL_CLEANUP=0
export HOMEBREW_UPGRADE_GREEDY=1
export HOMEBREW_UPGRADE_GREEDY_CASKS=1
export HOMEBREW_NO_ANALYTICS=1

# updating homebrew
brew update
echo

{{- end }}
