#!/usr/bin/env bash
echo
echo -e "\033[0;36m----------------------------------------\033[0m"
echo -e "\033[0;36mCHECKING FOR HOMEBREW PACKAGES TO REMOVE\033[0m"
echo -e "\033[0;36m----------------------------------------\033[0m"
echo

did_remove_package=false

{{ if and (eq .chezmoi.os "darwin") (lookPath "brew") }}

    {{ range $package := .packages.homebrew.to_remove }}
    if brew list | grep "{{ $package }}" &> /dev/null; then
        did_remove_package=true
        brew uninstall "{{ $package }}"
    fi

    {{ end }}
{{ end }}

if $did_remove_package; then
    echo
    echo -e "\033[0;36m-----------------------------------\033[0m"
    echo -e "\033[0;36mFINISHED REMOVING HOMEBREW PACKAGES\033[0m"
    echo -e "\033[0;36m------------------------------------\033[0m"
else
    echo
    echo -e "\033[0;36m------------------------------\033[0m"
    echo -e "\033[0;36mNO HOMEBREW PACKAGES TO REMOVE\033[0m"
    echo -e "\033[0;36m------------------------------\033[0m"
fi
echo
