#!/usr/bin/env bash

did_remove_package=false

{{ if and (eq .chezmoi.os "darwin") (lookPath "brew") }}

    {{ range $package := .packages.homebrew.to_remove }}
    if brew list | grep "{{ $package }}" &> /dev/null; then
    echo
    echo -e "\033[0;36mRemoving obsolete Homebrew packages\033[0m"
    echo -e "\033[0;36m-----------------------------------\033[0m"

        did_remove_package=true
        brew uninstall "{{ $package }}"
    fi

    {{ end }}
{{ end }}


