#!/bin/bash

set -eufo pipefail

# Install This anytime
{{ $brews := list
     "zsh"
     "zsh-autosuggestions"
     "zsh-syntax-highlighting"
     "git"
     "chezmoi"
     "bitwarden-cli"
     "oh-my-posh"
     "terraform"
     "azure-cli" -}}
{{ $casks := list
     "iterm2"
     "visual-studio-code"
     "unnaturalscrollwheels"
     "qmk-toolbox"
     "powershell"
     "microsoft-edge"
     "tor-browser"
     "raycast"
     "Fork"
     "via"
     "adobe-acrobat-reader" -}}

# Install This on Personal
{{ if .personal -}}
{{   $brews = concat $brews (list
       "postgis"
       "postgresql"
       "pspg") -}}
{{   $casks = concat $casks (list
       "qobuz"
       "signal"
       "whatsapp") -}}
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
