{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

# Grab the hash of the osx-defaults.sh script to run it when changed
# osx-defaults.sh hash: {{ include "bin/executable_osx-defaults.sh.tmpl" | sha256sum }}

osx_script={{ .directories.user_bin_dir }}/osx-defaults.sh
echo
echo -e "\033[0;36m----------------------------\033[0m"
echo -e "\033[0;36mRunning OS X defaults script\033[0m"
echo -e "\033[0;36m----------------------------\033[0m"
echo

if [ -f "${osx_script}" ]; then
    sudo "${osx_script}"
fi

{{- end }}