#!/usr/bin/env bash
echo
echo -e "\033[0;36mChecking for homebrew packages to remove\033[0m"
echo -e "\033[0;36m----------------------------------------\033[0m"
echo

did_remove_package=false

{{ if and (eq .chezmoi.os "darwin") (lookPath "brew") }}

    {{ range $package := .packages.homebrew.to_remove }}
    if brew list | grep "{{ $package }}" &> /dev/null; then
        did_remove_package=true
        brew uninstall "{{ $package }}"
    fi

    {{ end }}
{{ end }}

    echo
    echo -e "\033[0;36m---------------------------------------\033[0m"
    echo -e "\033[0;36mHOMEBREW PACKAGE INSTALLATION COMPLETED\033[0m"
    echo -e "\033[0;36m---------------------------------------\033[0m"

echo
