{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

# https://docs.brew.sh/Manpage#environment
export HOMEBREW_NO_INSTALL_UPGRADE=1
export HOMEBREW_CASK_OPTS="--appdir=${HOME}/Applications --fontdir=/Library/Fonts --no-quarantine"
export HOMEBREW_NO_INSTALL_CLEANUP=1
export HOMEBREW_UPGRADE_GREEDY=1
export HOMEBREW_UPGRADE_GREEDY_CASKS=1
export HOMEBREW_NO_ANALYTICS=1

echo
echo -e "\033[0;36mInstalling Hombrew packages\033[0m"
echo -e "\033[0;36m---------------------------\033[0m"
echo

# Shorthand for brew bundle install --upgrade.
brew bundle --file=/dev/stdin <<EOF
{{ range .packages.homebrew.common.tap -}}
{{ if ne . "" -}}
tap {{ . | quote }}
{{ end -}}
{{ end -}}
{{ if .personal_computer }}
{{ range .packages.homebrew.personal_computer.tap -}}
{{ if ne . "" -}}
tap {{ . | quote }}
{{ end -}}
{{ end -}}
{{ end -}}
{{ if .work_computer }}
{{ range .packages.homebrew.work_computer.tap -}}
{{ if ne . "" -}}
tap {{ . | quote }}
{{ end -}}
{{ end -}}
{{ end -}}
{{ if .dev_computer }}
{{ range .packages.homebrew.dev_computer.tap -}}
{{ if ne . "" -}}
tap {{ . | quote }}
{{ end -}}
{{ end -}}
{{ end -}}
{{ if .docker_computer }}
{{ range .packages.homebrew.docker_computer.tap -}}
{{ if ne . "" -}}
tap {{ . | quote }}
{{ end -}}
{{ end -}}
{{ end -}}
{{ range .packages.homebrew.common.formulae -}}
{{ if ne . "" -}}
brew {{ . | quote }}
{{ end -}}
{{ end -}}
{{ if .personal_computer }}
{{ range .packages.homebrew.personal_computer.formulae -}}
{{ if ne . "" -}}
brew {{ . | quote }}
{{ end -}}
{{ end -}}
{{ end -}}
{{ if .work_computer }}
{{ range .packages.homebrew.work_computer.formulae -}}
{{ if ne . "" -}}
brew {{ . | quote }}
{{ end -}}
{{ end -}}
{{ end -}}
{{ if .dev_computer }}
{{ range .packages.homebrew.dev_computer.formulae -}}
{{ if ne . "" -}}
brew {{ . | quote }}
{{ end -}}
{{ end -}}
{{ end -}}
{{ if .docker_computer }}
{{ range .packages.homebrew.docker_computer.formulae -}}
{{ if ne . "" -}}
brew {{ . | quote }}
{{ end -}}
{{ end -}}
{{ end -}}
{{ range .packages.homebrew.common.casks -}}
{{ if ne . "" -}}
cask {{ . | quote }}
{{ end -}}
{{ end -}}
{{ if .personal_computer }}
{{ range .packages.homebrew.personal_computer.casks -}}
{{ if ne . "" -}}
cask {{ . | quote }}
{{ end -}}
{{ end -}}
{{ end -}}
{{ if .work_computer }}
{{ range .packages.homebrew.work_computer.casks -}}
{{ if ne . "" -}}
cask {{ . | quote }}
{{ end -}}
{{ end -}}
{{ end -}}
{{ if .dev_computer }}
{{ range .packages.homebrew.dev_computer.casks -}}
{{ if ne . "" -}}
cask {{ . | quote }}
{{ end -}}
{{ end -}}
{{ end -}}
{{ if .docker_computer }}
{{ range .packages.homebrew.docker_computer.casks -}}
{{ if ne . "" -}}
cask {{ . | quote }}
{{ end -}}
{{ end -}}
{{ end -}}
EOF

{{- end }}
