#!/bin/bash

set -eufo pipefail

# Update Homebrew first
echo ""
echo "--Updating Homebrew--"
brew update

# Install This anytime
{{ $taps := list
     "azure/bicep"
     "hashicorp/tap"
     "homebrew/cask-fonts"
     "qmk/qmk"
      -}}
{{ $brews := list
     "azure-cli"
     "bicep"
     "chezmoi"
     "coreutils"
     "git"
     "mas"
     "qmk"
     "rbw"
     "ripgrep"
     "starship"
     "hashicorp/tap/terraform"
     "zsh-autosuggestions"
     "zsh-syntax-highlighting"
     "zsh-you-should-use"
     "zsh"
      -}}
{{ $casks := list
     "adobe-acrobat-reader"
     "amethyst"
     "appcleaner"
     "bitwarden"
     "cheatsheet"
     "docker"
     "drawio"
     "displaylink"
     "font-fira-code"
     "git-credential-manager"
     "iterm2"
     "linearmouse"
     "microsoft-edge"
     "obsidian"
     "postman"
     "powershell"
     "qmk-toolbox"
     "raycast"
     "signal"
     "snagit"
     "tor-browser"
     "tower"
     "unclack"
     "visual-studio-code"
      -}}

# Install This on Personal
{{ if .personal -}}
{{   $casks = concat $casks (list
       "microsoft-auto-update"
       "microsoft-excel"
       "microsoft-powerpoint"
       "microsoft-word"
       "onedrive"
       "qobuz"
       "signal"
       "whatsapp"
       ) -}}
{{ end -}}

# Install This on Work
{{ if .work -}}
{{   $taps = concat $taps (list
       "homebrew/cask-versions"
       ) -}}
{{   $casks = concat $casks (list
       "azure-data-studio"
       "parallels"
       ) -}}
{{ end -}}

echo ""
echo "--Installing Brew Bundle--"
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

# Install Apps from Mac App Store using mas CLI
echo ""
echo "--Installing Mac OS app store apps--"
mas install 1268962404
