#!/usr/bin/env bash

{{ if eq .chezmoi.os "darwin" }}

if [[ ! $(command -v brew) ]]; then
    header "🍺  Installing Homebrew"
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

if [[ ! $(command -v bw) ]]; then
    header "🔐  Installing Bitwarden CLI"
    brew install bitwarden-cli
fi

{{ end }}

