# Import aliases from Chezmoi data
. $HOME/.config/powershell/aliases.ps1

# Initialize starship prompt
Invoke-Expression (&starship init powershell)

# Set default location
Set-Location $HOME/gitrepos