{{- /* Git SSH allowed signers for signature verification */ -}}
{{- /* Bitwarden item: devops_a (ssh key item type 5) */ -}}
{{ if .dev_computer -}}
23463958+fslef@users.noreply.github.com {{ (bitwarden "item" .bitwarden.ssh.devops_a).sshKey.publicKey }}
{{ end -}}
