{{- /* Git SSH allowed signers for signature verification */ -}}
{{- /* Bitwarden item: devops_a (ssh key with publicKey field) */ -}}
{{ if .dev_computer -}}
{{ (bitwarden "item" .bitwarden.secrets.git_email_address).login.username }} {{- (bitwarden "item" .bitwarden.ssh.devops_a).privateKey -}}
{{ end -}}
