{{/* boolean feature tags will be prompted once */}}
{{- $personal_computer := promptBoolOnce . "personal_computer" "Is this a PERSONAL computer ? (true/false)" -}}
{{- $work_computer := promptBoolOnce . "work_computer" "Is this a PROFESSIONAL computer ? (true/false)" -}}
{{- $dev_computer := promptBoolOnce . "dev_computer" "Is this a DEVELOPMENT machine?? (true/false)" -}}
{{- $docker_computer := promptBoolOnce . "docker" "Should DOCKER be installed? (true/false)" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

[data]
    docker = {{ $docker }}
    email = {{ bitwarden.secrets.git_email_address}}
    personal_computer = {{ $personal_computer }}
    work_computer = {{ $work_computer }}
    dev_computer = {{ $dev_computer }}
    docker_computer = {{ $docker_computer }}
    os = {{ $osID | quote }}

[diff]
    {{ if lookPath "delta" -}}
    command = "delta"
    {{ end -}}
    exclude = ["scripts"]

{{ if lookPath "code" -}}

[edit]
    command = "code"
    args = ["--wait"]
{{ end -}}

[git]
    autoPush = true
