{{ $forkRefreshPeriod := "168h" -}} # One Week

# WORK Repos
{{ if and (.work_computer) (.dev_computer) -}}
{{- (bitwarden "item" .bitwarden.notes.work_repos).notes -}}
{{ end -}}

# PERSONAL Repos
{{ if and (.personal_computer) (.dev_computer) -}}
{{- (bitwarden "item" .bitwarden.notes.personal_repos).notes -}}
{{ end -}}

# SHARED Repos
{{ if .dev_computer -}}
{{- (bitwarden "item" .bitwarden.notes.shared_repos).notes -}}
{{ end -}}