{{- $personal_computer := promptBoolOnce . "personal_computer" "Is this a PERSONAL computer ? (true/false)" -}}
{{- $work_computer := promptBoolOnce . "work_computer" "Is this a PROFESSIONAL computer ? (true/false)" -}}
{{- $dev_computer := promptBoolOnce . "dev_computer" "Is this a DEVELOPMENT machine?? (true/false)" -}}
{{- $docker_computer := promptBoolOnce . "docker_computer" "Should DOCKER be installed? (true/false)" -}}
{{- $email := promptStringOnce . "email" "What is the git email address?" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

# # if dev_computer is true, then set sourcedir
# {{- if $dev_computer -}}
# secrets_dir = "~/gitrepos/fslef/dotfiles"
# {{- end -}}

[data]
    email = {{ $email | quote }}
    personal_computer = {{ $personal_computer }}
    work_computer = {{ $work_computer }}
    dev_computer = {{ $dev_computer }}
    docker_computer = {{ $docker_computer }}
    os = {{ $osID | quote }}
    xdgConfigDir      = "{{ .chezmoi.homeDir }}/.config"

[diff]
    {{ if lookPath "delta" -}}
    command = "delta"
    {{ end -}}
    exclude = ["scripts"]

{{ if lookPath "code" -}}

[edit]
    command = "code"
    args = ["--wait"]
{{ end -}}

