# Configure PATH
# If you come from bash you might have to change your $PATH.
{{- $paths := list }}
{{- $homeDir := .chezmoi.homeDir }}
{{- range $_, $relPath := list "bin" ".local/bin" }}
{{    $path := joinPath $homeDir $relPath }}
{{-   if stat $path }}
{{-     $paths = mustAppend $paths $path }}
{{-   end }}
{{- end }}
{{- if $paths }}
export PATH={{ toStrings $paths | join ":" }}:$PATH
{{- end }}

# Configure env variables
{{ if eq .os "linux-ubuntu" -}}
export EDITOR=$HOME/.local/bin/nvim
{{ else -}}
export EDITOR=code
{{ end -}}
{{- if eq .chezmoi.os "darwin" }}
# Set Homebrew prefix
if [[ -d "/opt/homebrew" ]]; then
  export HOMEBREW_PREFIX="/opt/homebrew"
elif [[ -d "/usr/local" ]]; then
  export HOMEBREW_PREFIX="/usr/local"
fi

export STARSHIP_CONFIG=~/.config/starship/starship.toml
export CYBERSHELL_CONFIG=~/gitrepos/cs/cybershell/Environment-NoSync/CyberShellSettings.jsonc
{{- end }}

export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export RIPGREP_CONFIG_PATH=~/.config/ripgrep/config

# Set computer type environment variables
{{ if .personal_computer -}}
export PERSONAL_COMPUTER=true
{{ end -}}
{{ if .work_computer -}}
export WORK_COMPUTER=true
{{ end -}}
{{ if .dev_computer -}}
export DEV_COMPUTER=true
{{ end -}}
{{ if .docker_computer -}}
export DOCKER_COMPUTER=true
{{ end -}}

# Initialize starship prompt
eval "$(starship init zsh)"

# Configure Zsh options
# Uncomment the following line to use case-sensitive completion.
CASE_SENSITIVE="true"

# Uncomment the following line to disable bi-weekly auto-update checks.
DISABLE_AUTO_UPDATE="true"

# This setting disables the compfix safety feature in Zsh.
# Compfix is a mechanism that checks for insecure files and directories in your
# $fpath directories and warns you about them. By setting ZSH_DISABLE_COMPFIX to true,
# you're telling Zsh to skip these safety checks.
ZSH_DISABLE_COMPFIX=true

setopt autocd
setopt histignorespace
setopt rm_star_silent

# Configure aliases
source $HOME/bin/aliases/load-aliases.sh

# Configure direnv
{{- if lookPath "direnv" }}
{{ output "direnv" "hook" "zsh" | trim }}
{{- end }}

{{- /* vim: set filetype=zsh: */}}

# Configure macOS specific settings
{{- if eq .chezmoi.os "darwin" }}

# Navigating to Git HomeFolder
{{ if .personal_computer }}
cd /Users/francois/gitrepos/
{{ else -}}
cd /Users/francoislefebvre/gitrepos/
{{ end -}}

# Load Modules installed with Homebrew
source $HOMEBREW_PREFIX/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
source $HOMEBREW_PREFIX/share/zsh-autosuggestions/zsh-autosuggestions.zsh
source $HOMEBREW_PREFIX/share/zsh-you-should-use/you-should-use.plugin.zsh

{{- end }}
