# Configure PATH
# If you come from bash you might have to change your $PATH.
{{- $paths := list }}
{{- $homeDir := .chezmoi.homeDir }}
{{- range $_, $relPath := list "bin" ".local/bin" }}
{{    $path := joinPath $homeDir $relPath }}
{{-   if stat $path }}
{{-     $paths = mustAppend $paths $path }}
{{-   end }}
{{- end }}
{{- if $paths }}
export PATH={{ toStrings $paths | join ":" }}:$PATH
{{- end }}

# Configure env variables
export ZSH=$HOME/.oh-my-zsh # Path to your oh-my-zsh installation.
export HOMEBREW_CASK_OPTS=--no-quarantine # remove warning for software installed from internet

# Set name of the theme to load. Optionally, if you set this to "random"
# it'll load a random theme each time that oh-my-zsh is loaded.
# See https://github.com/robbyrussell/oh-my-zsh/wiki/Themes
# ZSH_THEME="spaceship" #Theme must be removed with spaceship

# Uncomment the following line to use case-sensitive completion.
CASE_SENSITIVE="true"

# Uncomment the following line to disable bi-weekly auto-update checks.
DISABLE_AUTO_UPDATE="true"

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# The optional three formats: "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
HIST_STAMPS="yyyy-mm-dd"

ZSH_DISABLE_COMPFIX=true

# Which plugins would you like to load? (plugins can be found in ~/.oh-my-zsh/plugins/*)
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=(
  #per-directory-history
)

source $ZSH/oh-my-zsh.sh

# User configuration

PROMPT="%{$fg[white]%}%n@%{$fg[green]%}%m%{$reset_color%} ${PROMPT}"

setopt autocd
setopt histignorespace
setopt rm_star_silent

alias g=git
alias al0="cd ~/gitrepos/fslef-automatedLab/IaC/terraform/L0-shared-config/"
alias al1="cd ~/gitrepos/fslef-automatedLab/IaC/terraform/L1-management/"
alias al2="cd ~/gitrepos/fslef-automatedLab/IaC/terraform/L2-hub/"
alias al3="cd ~/gitrepos/fslef-automatedLab/IaC/terraform/L3-labs/"
alias al4="cd ~/gitrepos/fslef-automatedLab/IaC/terraform/L4-sandbox/"
alias ale="cd ~/gitrepos/fslef-automatedLab/IaC/epac/"
alias alt="cd ~/gitrepos/fslef-automatedLab/tools/"
alias tf=terraform
alias tfp="terraform plan"
alias tfpq="terraform plan -refresh=false"
alias tfa="terraform apply -auto-approve"
alias tfaq="terraform apply -auto-approve -refresh=false"
alias tfg="terraform plan -generate-config-out=generated_resources.tf"
alias cmu="chezmoi update"
alias gnp="git --no-pager"
{{- if lookPath "bat" }}
alias cat=bat
{{- else if lookPath "batcat" }}
alias cat=batcat
{{- end }}
{{- if lookPath "fdfind" }}
alias fd=fdfind
{{- end }}
{{- if lookPath "exa" }}
alias ls=exa
{{- end }}

{{ if eq .osid "linux-ubuntu" -}}
export EDITOR=$HOME/.local/bin/nvim
{{ else -}}
export EDITOR=code
{{ end -}}
export GOPATH=$HOME
export GO111MODULE=on
{{- if eq .chezmoi.os "darwin" }}
export HOMEBREW_NO_AUTO_UPDATE=1
export SPACESHIP_CONFIG="$HOME/.config/spaceship/config-spaceship.zsh"
{{- end }}
export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export RIPGREP_CONFIG_PATH=~/.config/ripgrep/config

{{- if lookPath "direnv" }}
{{ output "direnv" "hook" "zsh" | trim }}
{{- end }}

{{- /* vim: set filetype=zsh: */}}

{{- if eq .chezmoi.os "darwin" }}

# Set Git HomeFolder
cd /Users/francoislefebvre/gitrepos/

# Load Modules installed with Homebrew
source $HOMEBREW_PREFIX/opt/spaceship/spaceship.zsh
source $HOMEBREW_PREFIX/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
source $HOMEBREW_PREFIX/share/zsh-autosuggestions/zsh-autosuggestions.zsh
source $HOMEBREW_PREFIX/share/zsh-you-should-use/you-should-use.plugin.zsh
{{- end }}

