alias g=git
alias al0="cd ~/gitrepos/fslef/automatedLab/IaC/terraform/L0-shared-config/"
alias al1="cd ~/gitrepos/fslef/automatedLab/IaC/terraform/L1-management/"
alias al2="cd ~/gitrepos/fslef/automatedLab/IaC/terraform/L2-hub/"
alias al3="cd ~/gitrepos/fslef/automatedLab/IaC/terraform/L3-labs/"
alias al4="cd ~/gitrepos/fslef/automatedLab/IaC/terraform/L4-sandbox/"
alias ale="cd ~/gitrepos/fslef/automatedLab/IaC/epac/"
alias alt="cd ~/gitrepos/fslef/automatedLab/tools/"
alias tf=terraform
alias tfp="terraform plan"
alias tfpq="terraform plan -refresh=false"
alias tfa="terraform apply -auto-approve"
alias tfaq="terraform apply -auto-approve -refresh=false"
alias tfg="terraform plan -generate-config-out=generated_resources.tf"
alias cmu="chezmoi update"