# Configure PATH
# If you come from bash you might have to change your $PATH.
{{- $paths := list }}
{{- $homeDir := .chezmoi.homeDir }}
{{- range $_, $relPath := list "bin" ".local/bin" }}
{{    $path := joinPath $homeDir $relPath }}
{{-   if stat $path }}
{{-     $paths = mustAppend $paths $path }}
{{-   end }}
{{- end }}
{{- if $paths }}
export PATH={{ toStrings $paths | join ":" }}:$PATH
{{- end }}

# Configure env variables
export HOMEBREW_CASK_OPTS=--no-quarantine # remove warning for software installed from internet
{{ if eq .osid "linux-ubuntu" -}}
export EDITOR=$HOME/.local/bin/nvim
{{ else -}}
export EDITOR=code
{{ end -}}
export GOPATH=$HOME
export GO111MODULE=on
{{- if eq .chezmoi.os "darwin" }}
export HOMEBREW_NO_AUTO_UPDATE=1
export SPACESHIP_CONFIG="$HOME/.config/spaceship/config-spaceship.zsh"
{{- end }}
export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export RIPGREP_CONFIG_PATH=~/.config/ripgrep/config

# Uncomment the following line to use case-sensitive completion.
CASE_SENSITIVE="true"

# Uncomment the following line to disable bi-weekly auto-update checks.
DISABLE_AUTO_UPDATE="true"

# This setting disables the compfix safety feature in Zsh.
# Compfix is a mechanism that checks for insecure files and directories in your
# $fpath directories and warns you about them. By setting ZSH_DISABLE_COMPFIX to true,
# you're telling Zsh to skip these safety checks.
ZSH_DISABLE_COMPFIX=true

# User configuration

PROMPT="%{$fg[white]%}%n@%{$fg[green]%}%m%{$reset_color%} ${PROMPT}"

setopt autocd
setopt histignorespace
setopt rm_star_silent

alias g=git
alias al0="cd ~/gitrepos/fslef-automatedLab/IaC/terraform/L0-shared-config/"
alias al1="cd ~/gitrepos/fslef-automatedLab/IaC/terraform/L1-management/"
alias al2="cd ~/gitrepos/fslef-automatedLab/IaC/terraform/L2-hub/"
alias al3="cd ~/gitrepos/fslef-automatedLab/IaC/terraform/L3-labs/"
alias al4="cd ~/gitrepos/fslef-automatedLab/IaC/terraform/L4-sandbox/"
alias ale="cd ~/gitrepos/fslef-automatedLab/IaC/epac/"
alias alt="cd ~/gitrepos/fslef-automatedLab/tools/"
alias tf=terraform
alias tfp="terraform plan"
alias tfpq="terraform plan -refresh=false"
alias tfa="terraform apply -auto-approve"
alias tfaq="terraform apply -auto-approve -refresh=false"
alias tfg="terraform plan -generate-config-out=generated_resources.tf"
alias cmu="chezmoi update"
alias gnp="git --no-pager"
{{- if lookPath "bat" }}
alias cat=bat
{{- else if lookPath "batcat" }}
alias cat=batcat
{{- end }}
{{- if lookPath "fdfind" }}
alias fd=fdfind
{{- end }}
{{- if lookPath "exa" }}
alias ls=exa
{{- end }}

{{- if lookPath "direnv" }}
{{ output "direnv" "hook" "zsh" | trim }}
{{- end }}

{{- /* vim: set filetype=zsh: */}}

{{- if eq .chezmoi.os "darwin" }}

# Navigating to Git HomeFolder
cd /Users/francoislefebvre/gitrepos/

# Load Modules installed with Homebrew
source $HOMEBREW_PREFIX/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
source $HOMEBREW_PREFIX/share/zsh-autosuggestions/zsh-autosuggestions.zsh
source $HOMEBREW_PREFIX/share/zsh-you-should-use/you-should-use.plugin.zsh
{{- end }}

