{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

export HOMEBREW_NO_INSTALL_UPGRADE=TRUE
export HOMEBREW_CASK_OPTS="--appdir=/Applications"
export HOMEBREW_NO_INSTALL_CLEANUP=1

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.homebrew.common.formulae -}}
brew {{ . | quote }}
{{ end -}}
{{ if .personal_computer }}
{{ range .packages.homebrew.personal_computer.formulae -}}
brew {{ . | quote }}
{{ end -}}
{{ end -}}
{{ if .work_computer }}
{{ range .packages.homebrew.work_computer.formulae -}}
brew {{ . | quote }}
{{ end -}}
{{ end -}}
{{ if .dev_computer }}
{{ range .packages.homebrew.dev_computer.formulae -}}
brew {{ . | quote }}
{{ end -}}
{{ end -}}
{{ if .docker_computer }}
{{ range .packages.homebrew.docker_computer.formulae -}}
brew {{ . | quote }}
{{ end -}}
{{ end -}}
{{ range .packages.homebrew.common.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF


success "Homebrew packages installed"


{{- end }}
