{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

# Display start message in cyan
echo
echo -e "\033[0;36m-----------------------------\033[0m"
echo -e "\033[0;36mSTARTING PACKAGE INSTALLATION\033[0m"
echo -e "\033[0;36m-----------------------------\033[0m"

export HOMEBREW_NO_INSTALL_UPGRADE=TRUE
export HOMEBREW_CASK_OPTS="--appdir=/Applications"
export HOMEBREW_NO_INSTALL_CLEANUP=1

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.homebrew.common.formulae -}}
brew {{ . | quote }}
{{ end -}}
{{ if .personal_computer }}
{{ range .packages.homebrew.personal_computer.formulae -}}
brew {{ . | quote }}
{{ end -}}
{{ end -}}
{{ if .work_computer }}
{{ range .packages.homebrew.work_computer.formulae -}}
brew {{ . | quote }}
{{ end -}}
{{ end -}}
{{ if .dev_computer }}
{{ range .packages.homebrew.dev_computer.formulae -}}
brew {{ . | quote }}
{{ end -}}
{{ end -}}
{{ if .docker_computer }}
{{ range .packages.homebrew.docker_computer.formulae -}}
brew {{ . | quote }}
{{ end -}}
{{ end -}}
{{ range .packages.homebrew.common.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

echo -e "\033[0;32mHomebrew packages installed\033[0m"

{{- end }}
