{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

# Display start message in cyan
echo
echo -e "\033[0;36m-----------------------\033[0m"
echo -e "\033[0;36mGIT REPO SYNC COMPLETED\033[0m"
echo -e "\033[0;36m-----------------------\033[0m"
echo

{{ end -}}