{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

# Display start message in cyan
echo
echo -e "\033[0;36m----------------------\033[0m"
echo -e "\033[0;36mSTART SYNCING GIT REPO\033[0m"
echo -e "\033[0;36m----------------------\033[0m"
echo

BREW

{{ end -}}