$($HOMEBREW_PREFIX/bin/brew shellenv) | Invoke-Expression
Invoke-Expression (&starship init powershell)
Set-Location $HOME/gitrepos

# import-aliases
# Invoke-Expression -Command ~/.config/powershell/import-aliases.ps1
