{{- if eq .chezmoi.os "darwin" -}}
{
  "$schema" : "https:\/\/schema.linearmouse.app\/0.9.5",
  "schemes" : [
    {
      "if" : {
        "device" : {
          "productName" : "Razer Lancehead Wireless",
          "productID" : "0x70",
          "category" : "mouse",
          "vendorID" : "0x1532"
        }
      },
      "scrolling" : {
        "reverse" : {
          "vertical" : false
        }
      }
    }
  ]
}
{{- end -}}