{{- if eq .chezmoi.os "darwin" -}}
{
  "schemes" : [
    {
      "scrolling" : {
        "reverse" : {
          "vertical" : false
        }
      },
      "if" : {
        "device" : {
          "category" : "mouse",
          "vendorID" : "0x1532",
          "productID" : "0x70",
          "productName" : "Razer Lancehead Wireless"
        }
      }
    }
  ],
  "$schema" : "https:\/\/schema.linearmouse.app\/0.9.5"
}
{{- end -}}