{{- if eq .chezmoi.os "darwin" -}}
{
  "$schema" : "https:\/\/schema.linearmouse.app\/0.10.0",
  "schemes" : [
    {
      "if" : {
        "device" : {
          "category" : "mouse",
          "productID" : "0x70",
          "productName" : "Razer Lancehead Wireless",
          "vendorID" : "0x1532"
        }
      },
      "scrolling" : {
        "reverse" : {
          "vertical" : true
        }
      }
    },
    {
      "if" : {
        "device" : {
          "productID" : "0xa4",
          "productName" : "Razer Mouse Dock Pro",
          "category" : "mouse",
          "vendorID" : "0x1532"
        }
      },
      "scrolling" : {
        "reverse" : {
          "vertical" : true
        },
        "acceleration" : {
          "vertical" : 1
        }
      }
    },
    {
      "if" : {
        "device" : {
          "category" : "mouse",
          "vendorID" : "0x1532",
          "productID" : "0xaf",
          "productName" : "Razer Cobra Pro",
          "serialNumber" : "000000000000"
        }
      },
      "scrolling" : {
        "acceleration" : {
          "vertical" : 1
        },
        "reverse" : {
          "vertical" : true
        }
      }
    }
  ]
}
{{- end -}}